<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{transaction.transaction}">Transaction</title>
</head>
<body>
<div th:insert="~{header :: locale}"></div>
<div th:insert="~{header :: header}"></div>
<h3><span th:text="|#{transaction.info}:|">Transaction info:</span></h3>
<ul>
    <span th:text="|#{transaction.amount}: |">Amount: </span><span th:text="${transaction.amount}"></span> <br>
    <span th:text="|#{transaction.type}: |">Transaction type: </span><span th:text="${transaction.type}"></span> <br>
    <span th:text="|#{transaction.number}: |">Reference number: </span><span th:text="${transaction.referenceNumber}"></span> <br>
    <span th:text="|#{transaction.id}: |">Transaction id: </span><span th:text="${transaction.transactionId}"></span> <br>
    <span th:text="|#{transaction.time}: |">Transaction time: </span><span th:text="${transaction.time}"></span> <br>
    <span th:text="|#{transaction.bank_account}: |">Bank Account number: </span><span th:text="${bankAccount.number}"></span> <br>
    <br>
</ul>

<form th:action="@{/accounts/{accountId}(accountId = ${bankAccount.accountId})}"
      th:if="${bankAccount.accountId != null}">
    <button type="submit"><span th:text="#{account.account}">Account</span></button>
</form>

</body>
</html>