<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{bank_card.card}">Bank Card</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
<div th:insert="~{header :: locale}"></div>
<div th:insert="~{header :: header}"></div>
<form th:action="@{/bank-cards/{cardId}/update(cardId = ${bankCard.id})}" method="post" th:object="${bankCard}">

    <label for="bankAccountId"><span th:text="|#{bank_account.account}:|">Bank Account:</span>
        <input id="bankAccountId" type="text" name="bankAccountId" th:value="*{bankAccountId}">
    </label><br>

    <label for="expiryDate"><span th:text="|#{bank_card.expiry_date}:|">Expiry Date:</span>
        <input id="expiryDate" type="text" name="expiryDate" th:value="*{expiryDate}">
    </label><br>
    <button type="submit"><span th:text="#{bank_card.update}">Update</span></button>

</form>

<form th:action="@{/bank-cards/{cardId}/delete(cardId = ${bankCard.id})}" method="post">
    <button type="submit"><span th:text="#{bank_card.remove}">Remove</span></button>
</form>
<br><br>

<form th:action="@{/bank-accounts/{bankAccountId}(bankAccountId = ${bankCard.bankAccountId})}"
      th:if="${bankCard.bankAccountId != null}">
    <button type="submit"><span th:text="#{bank_account.account}">Bank Account</span></button>
</form>

</body>
</html>