<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<div th:insert="~{header :: header}"></div>
    <form th:action="@{/bank-cards}" method="post" th:object="${bankCard}">

        <label for="userId">User:
            <input id="userId" type="text" name="userId" th:value="*{userId}">
        </label><br>

        <label for="bankAccountId">Bank Account:
            <input id="bankAccountId" type="text" name="bankAccountId" th:value="*{bankAccountId}">
        </label><br>

        <label for="cardNumber">Card number:
            <input id="cardNumber" type="text" name="cardNumber" th:value="*{cardNumber}">
        </label><br>

        <label for="expiryDate">Expiry Date:
            <input id="expiryDate" type="text" name="expiryDate" th:value="*{expiryDate}">
        </label><br>

        <label for="cvv">Cvv:
            <input id="cvv" type="text" name="cvv" th:value="*{cvv}">
        </label><br>

        <div th:each="bank : ${banks}">
            <input th:id="${bank}" type="radio" name="bank" th:value="${bank}" th:checked="${bank == bankCard.bank}">
            <label th:for="${bank}" th:text="${bank}">Bank name</label>
        </div> <br>

        <div th:each="type : ${types}">
            <input th:id="${type}" type="radio" name="type" th:value="${type}" th:checked="${type == bankCard.type}">
            <label th:for="${type}" th:text="${type}">Type name</label>
        </div> <br>

        <button type="submit">Create</button>
    </form>
</body>
</html>