<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{account.accounts}">Accounts</title>
</head>
<body>
<div th:insert="~{header :: locale}"></div>
<div th:insert="~{header :: header}"></div>
<form action="/accounts">
    <div th:each="account : ${accounts}">
        <a th:href="@{'/accounts/' + ${account.id}}"
           th:text="|${account.id}. ${account.createdBy} - ${account.status}|">
            <span th:text="#{account.account}">Account</span>
        </a>
    </div>
</form>
</body>
</html>